body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/339/694/383/asus-republic-of-gamers-gaming-laptop-laptop-pc-gaming-hd-wallpaper-preview.jpg);
    background-size: 36cm;
    background-position: center;
    padding: 20px;
}

nav {
    background-color: #4e1001;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #4e1001;
    color: #fff;
    text-align: center;
    padding: 10px;
}

video {
    width: 35%; 
    height: auto; 
}

.video-container {
    text-align: center;
}

.image-container {
    text-align: center;
}

.contact-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    background-color: #860400;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff7860;
}